.image-description-container {
  display: flex;
  margin: auto;
  height: 90vh;
  padding-top: 50px;
  width: 80%;
}

.image-div {
  display: flex;
  align-items: center;
}

.image-div img {
  width: 400px;
}

.about-me-desc {
  color: aliceblue;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-me-desc p {
  text-align: justify;
  padding-left: 25px;
  padding-right: 25px;
}

.about-paragraphs p {
  text-align: justify;
  border: 2px solid salmon;
  padding-left: 25px;
  padding-right: 25px;
}


@media only screen and (max-width: 890px) {
  .image-description-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    height: 510vw;
  }

  .image-div img {
    width: 92vw;
  }
}