.image-description {
  display: flex;
  margin: auto;
  height: 83vh;
  padding-top: 50px;
  width: 80%;
  /* padding-bottom: 50px; */
}

.image-div {
  display: flex;
  align-items: center;
}

.image-div img {
  width: 400px;
}

.about-me-desc {
  color: aliceblue;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-me-desc p {
  text-align: justify;
  padding-left: 25px;
  padding-right: 25px;
}

.about-paragraphs p {
  text-align: justify;
  border: 2px solid salmon;
  padding-left: 25px;
  padding-right: 25px;
}
