.links-nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.links-nav div {
  flex-grow: 1;
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-style:italic;
  /* font-size: 1.5em; */
}

.header-header {
  padding-bottom: 50px;
}
