.home-body-content {
  display: flex;
  height: 65vh;
  margin-left: 100px;
  margin-top: 200px;
}

.title-typewriter-div {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.title-typewriter-div h1 {
  width: 50%;
}

.title-user {
  align-items: center;
  text-shadow: 1px 1px 0px #bfac8b;
  display: flex;
}

#foto {
  border-radius: 80%;
  width: 250px;
}

.type-writter{
  justify-content: center;
}

:root {
  --white-col: #fff;
  --black-col: #000;
}
