.home-body-content {
  display: flex;
  height: 120vh;
  margin-left: 100px;
  padding-top: 150px;
}

.title-typewriter-div {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.title-typewriter-div h1 {
  width: 90%;
}

.title-user {
  color: aliceblue;
  font-family: 'Prompt', sans-serif;
}

#foto {
  border-radius: 80%;
  width: 200px;
}

.type-writter{
  color: aliceblue;
  font-family: 'Prompt', sans-serif;
  width: 90%;
}

.intro-description {
  color: aliceblue;
  font-size: 25px;
  margin-top: 50px;
}

.header-buttons {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
}

.lang-button-active {
  background-color: black;
  border: 2px solid #006a7a;
}

.lang-button-inactive {
  background-color: black;
  border: none;
}

.header-home-div {
  width: 100%;
}

:root {
  --white-col: #fff;
  --black-col: #000;
}
