.home-body-content {
  display: flex;
  height: 70vh;
  margin-left: 100px;
  margin-top: 200px;
}

.title-typewriter-div {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.title-typewriter-div h1 {
  width: 50%;
}

.title-user {
  align-items: center;
  color: #bfac8b;
  display: flex;
  font-family: 'Prompt', sans-serif;
  /* text-shadow: 1px 1px 0px #bfac8b; */
  
}

#foto {
  border-radius: 80%;
  width: 250px;
}

.type-writter{
  justify-content: center;
}

.intro-description {
  color: #bfac8b;
  font-size: 25px;
  margin-top: 50px;
}

:root {
  --white-col: #fff;
  --black-col: #000;
}
