.window-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.card-div {
  background: transparent;
  background-color: rgb(34, 50, 65);
  border-radius: 20px;
  display: flex;
  color: rgb(0, 0, 0);
  flex-direction: column;
  height: 620px;
  margin-bottom: 0;
  max-width: 30%;
  opacity: 0.8;
  padding: 15px;
}

.card-div:hover {
  opacity: 1.5;
  background-color: rgb(64, 151, 228);
  transition: 1.0s;
}

.link-img-div {
  text-align: center;
}

.project-picture {
  width: 50%;
}

.card-div h2 {
  text-align: center;
  border-bottom: 1px solid black;
}

.card-div h4 {
  margin-top: 15px;
}

.card-div p {
  line-height: 21px;
  text-align: justify;
}

.project-github-links a {
  text-decoration: none;
  opacity: 0.8; 
}

.project-github-links a:visited {
  text-decoration: none;
  opacity: 0.8; 
  color: rgb(102, 0, 153);
}

.button-link {
  background-color: rgb(34, 50, 65);
  border-radius: 20px;
  padding: 5px;
  /* color: hotpink; */
}

.project-github-links {
  display: flex;
  justify-content: space-between;
}
