.projects-page {
  margin:auto;
  padding-top: 50px;
  padding: auto;
  width: 80%;

}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 50px;
}

.projects-title {
  color: aliceblue;
  text-align: center;
}

.card-div {
  background: transparent;
  background-color: #000706;
  border: 10px double #00272d;
  border-radius: 20px;
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-between;
  height: 570px;
  margin-bottom: 10px;
  width: 48%;
  padding: 15px;
}

.card-div:hover {
  background-color: #00272d;
  transition: 1.0s;
}

.card-div a button:hover {
  opacity: 1.5;
  background-color: #43e7e7;
  transition: 0.5s;
}

.link-img-div {
  text-align: center;
  height: 280px;
  padding-bottom: 80px;
}

.project-picture {
  width: 55%;
}

.card-div h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-align: center;
}

.card-div p {
  font-size: 0.9rem;
  line-height: 21px;
  text-align: justify;
}

.project-github-links a {
  text-decoration: none;
  opacity: 0.8; 
}

.abilities-descrip {
  height: 220px;
}

.button-link {
  background-color: #0f9999;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  padding: 5px;
  width: 150px;
  /* color: hotpink; */
}

.project-github-links {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1190px) {
  .projects-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 99vw;
  }

  .card-div {
    width: 85%;
  }
}

@media only screen and (max-width: 890px) {
 .button-link {
   font-size: 0.8rem;
   width: 50px;
 }
 .link-img-div {
   height: 50px;
 }
 .abilities-descrip h4 {
   font-size: 1.2rem;
 }

 .abilities-descrip p {
   font-size: 1.2rem;
 }
}
