.window-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-div {
  /* border: 2px solid red; */
  display: flex;
  color: aliceblue;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  padding: 15px;
  max-width: 30%;
}

.link-img-div {
  text-align: center;
}

.project-picture {
  width: 50%;
  height: 30%;
}

.card-div h2 {
  text-align: center;
}

.card-div h4 {
  margin-top: 15px;
}

.card-div p {
  line-height: 21px;
  text-align: justify;
}

.project-link {
  text-align: end;
}
