.phone-contact {
  width: 100%;
  height: 100%;
  display: inline-block;
  justify-content: space-around;
  text-align: center;
}

.phone-contact img {
  width: 5%;
  height: 5%;
  display: inline-block;
  padding: 10px;
}

.phone-number {
  color: aliceblue;
}
