html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/space-uni.jpeg");
  background-size: contain;
  color: rgb(204, 197, 197);
  font-size: 1.2rem;
  font-family: 'Comfortaa', cursive;
}
