html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/seamless_space.png");
  background-color: black;
  background-blend-mode: darken;
  color: rgb(204, 197, 197);
  font-size: 1.2rem;
  font-family: 'Comfortaa', cursive;
}
